.status-notices {
	background-color: rgba(255, 255, 255, 0.05);
}

.previous-apology {
	border-bottom:1px solid #EFEFEF;
}

.apology:first-child {
	margin-top:0;
}

.apology {
	margin-top:@grid-verticle-gutter-width;
}

@media (min-width: @grid-float-breakpoint) {
	.previous-apology-list {
		padding-top:@grid-verticle-gutter-width;
		padding-bottom:@grid-verticle-gutter-width;
		border-left:1px solid #EFEFEF;
		padding-left:@grid-verticle-gutter-width;	
	}

	.previous-apology {
		position:relative;
		border-bottom:none;
	}

	.previous-apology:before {
		content: ' ';
		font-size:100px;
		display:block;
		position:absolute;
		top:4px;
		left:-(@grid-verticle-gutter-width + 8);
		width:16px;
		height:16px;
		border-radius:50%;
		background-color:#EFEFEF;
	}
}