.status-notices {
	background-color: rgba(255, 255, 255, 0.05);
}

.previous-apology {
	border-bottom:1px solid #EFEFEF;
}

.apology:first-child {
	margin-top:0;
}

.apology {
	margin-top:@grid-verticle-gutter-width;
}

.previous-apology-list {
	border-left:1px solid #EFEFEF;
	padding:@grid-verticle-gutter-width (@grid-verticle-gutter-width / 2);	
}

.previous-apology {
	position:relative;
	border-bottom:none;
}

.previous-apology:before {
	content: ' ';
	font-size:100px;
	display:block;
	position:absolute;
	top:4px;
	left:-((@grid-verticle-gutter-width / 2)+ 8);
	width:16px;
	height:16px;
	border-radius:50%;
	background-color:#EFEFEF;
}