/* Layout for the page header block. */

header {

	/* Box model for verticaly centering content */

	.flex-display(flex);
	.flex-direction(column);
	.align-items(stretch);
	.justify-content(space-between);

	height:100%; 

	.page-title, .status-notices, .fold-nav {
		padding:(@grid-verticle-gutter-width / 2);
	}

	/* Fold jump navigation. */

	.fold-nav {
		padding-bottom:0;
		position:relative;
		bottom:0;
	}

	/* State based colouring for the header of the page. */

	&[class*='state-'] {
		color:#FFF;
	}

	&.state-warning {
		background-color:@brand-warning;
	}

	&.state-ok {
		background-color:@brand-success;
	}

}

