/* Layout for the page header block. */

header {

	/* 
		Flexbox for verticaly centering and spacing the header elements. 

		This should work in all modern browsers however IE has a known bug with Flexbox and
		min-height which means it doesn't work quite as expected.

		http://connect.microsoft.com/IE/feedback/details/802625/min-height-and-flexbox-flex-direction-column-dont-work-together-in-ie-10-11-preview
	*/

	.flex-display(flex);
	.flex-direction(column);
	.justify-content(space-between);

	min-height:100%;

	.page-title, .status-notices, .fold-nav {
		padding:(@grid-verticle-gutter-width / 2);
	}

	/* State based colouring for the header of the page. */

	&[class*='state-'] {
		color:#FFF;
	}

	&.state-warning {
		background-color:@brand-warning;
	}

	&.state-ok {
		background-color:@brand-success;
	}

}