/* Layout for the page header block. */

header {

	min-height:100%;
	position:relative;
	padding-bottom:95px;

	.page-title, .status-notices, .fold-nav {
		padding:(@grid-verticle-gutter-width / 2);
	}

	/* Fold jump navigation. */

	.fold-nav {
		padding-bottom:0;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
	}	

	/* State based colouring for the header of the page. */

	&[class*='state-'] {
		color:#FFF;
	}

	&.state-warning {
		background-color:@brand-warning;
	}

	&.state-ok {
		background-color:@brand-success;
	}

}