/* Basic Typographic Styles. */
html, body {
  font-family: "OpenSansLight"; }

/* Headings. */
h1, h2, h3, h4, h4, h6 {
  font-weight: normal; }

h1 {
  font-size: 1.143em;
  text-align: right;
  opacity: 0.7; }

h2 {
  font-size: 2.286em;
  margin-bottom: 1em; }

h3 {
  font-size: 1.429em;
  line-height: 1.429em; }

h4 {
  font-family: "OpenSansRegular";
  font-size: 1.714em;
  line-height: 1.3em;
  margin-bottom: 1em; }

h2 span, h3 span, h4 span {
  display: block;
  font-size: 0.6em;
  opacity: 0.7; }

h3 span {
  font-size: 0.8em; }

h4 span {
  font-size: 0.7em; }

/* Lists. */
ul.updates > li {
  font-size: 1.143em; }

ul.updates > li > time {
  opacity: 0.7; }

/* Footer. */
footer {
  opacity: 0.7;
  font-size: 1.143em; }

footer a {
  color: #333;
  opacity: 1; }

/* Links. */
a.see-below {
  font-size: 2em;
  line-height: 2em; }

a.see-below:hover {
  text-decoration: none; }
